.productCard {
  width: 22vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin-top: 2vmax;
  background-color: #0f264b;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
}


.productCard>img {
  width: 14vmax;
}

.productCard>div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
}

.productCard>p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  color: #fff;
}

.productCard>span {
  margin: 0.5vmax;
  color: #ff2700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: rgb(153 147 147) 0px 1px 2px 0px, #0dcaf0 0px 2px 6px 2px;
  transform: translateY(-1vmax);
}

.image-height {
  min-height: 331px;
  max-height: 331px;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .productCard>p {
    font-size: 1.7vmax;
  }

  .productCard>div {
    margin: 0vmax;
    display: block;
  }

  .productCard>span {
    font-size: 1.5vmax;
  }

  .productCard>div>span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}